p{
    font-size: 22px;
    font-weight: 400;
}
h1{
    font-size: 5vw;
    font-weight: 900;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    position: absolute;
    top: 13rem;
    width: 100%;
    text-align: center;
}
h2{
    font-size: 4vw;
    font-weight: 700;
    color: royalblue;
    font-style: italic;
}
h3{
    font-size: 21px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 600;
}
@media (max-width: 992px){
    h1{
        font-size: 6vw;
    }
}